# Logs
node_modules
dist
*.log

# Prisma
/prisma/dev.db
/prisma/dev.db-journal

# Environment variables
.env
.env.production

# OS files
.DS_Store

# Temporary and Cache
temp_*
.npm_cache/
_cacache/
*.prisma
!schema.prisma
